<div class="row">
  <div class="col col-lg-4 col-md-4"></div>
  <div class="col col-lg-4 col-md-4">
    <h1 class="">SEO Search</h1>
  </div>
  <div class="col col-lg-4 col-md-4"></div>
</div>
<div class="row">
  <div class="col col-lg-4 col-md-4"></div>
  <div class="col col-lg-4 col-md-4">
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Search: </span>
      <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Phrase" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="phrase">
      <input type="text" class="form-control" aria-label="Sizing example input" placeholder="URL" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="url">
      <button type="button" class="btn btn-primary" (click)="searchSEO()">Go</button>
    </div>
  </div>
  <div class="col col-lg-4 col-md-4"></div> 
</div>
<div class="row">
  <div class="col col-lg-4 col-md-4"></div>
  <div class="col col-lg-4 col-md-4">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of result.seoResults; let i = index;">
          <td>{{item.url}}</td>
          <td>{{item.engine}}</td>
          <td>{{item.rank}}</td>
          <td>{{item.scraped}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col col-lg-4 col-md-4"></div>
</div>

<router-outlet></router-outlet>